 body{
    margin: auto;
    background: white;
 }
 header{  
    color: black;
    width: Fill (1,440px)px;
    height: Hug (92px)px;
    padding: 24px 0px 24px 0px;
    gap: 16px;
}
 a{
    text-decoration: none;
    color: aliceblue;
 }
 img{
    width: 140px;
    height: 140px;
    gap: 0px;
    opacity: 0px;
 }
 section{
    width: Fill (1,440px)px;
    height: Hug (919px)px;
    padding: 0px 120px 64px 120px;
    gap: 24px;
    opacity: 0px;
 }
 .item-content_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 equal columns */
    gap: 15px; /* Space between grid items */
    padding: 20px;
 }
 .item-box{
    background-color: white; /* Blue */
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
    border-radius: 8px; /* Rounded corners */
 }
 .navbar{
    display: flex;
    color: black;
    align-items: center;
    column-gap: 1.5rem;
    width: Fill (1,440px)px;
    height: Fixed (48px)px;
    padding: 8px 120px 8px 120px;
    gap: 0px;
    justify: space-between;

}
 .nav_container{
    width: Fill (1,440px)px;
    height: Hug (92px)px;
    padding: 24px 0px 24px 0px;
    gap: 16px;
    background: #172230;
    margin: auto;
    color: black;
 }
 .cart{
    position: relative;
}
.cart span{
    width: Fill (225.25px)px;
    height: Hug (294px)px;
    padding: 12px 0px 0px 0px;
    gap: 8px;
    border-radius: 8px 0px 0px 0px;
    border: 1px 0px 0px 0px;    
    opacity: 0px;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}
.logo img{
    width:75px;
}
.navbar{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.nav-icons{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}
.nav-icons .bx{
    color: var(--bg-color);
    font-size: 20px;
}
.cart{
    position: relative;
}
.cart span{
    position: absolute;
    right: -10px;
    top: -10px;
    background: var(--text-color);
    font-size: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.menu-icon{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.footer{
    background: #172230;
    color: aliceblue;
}
.footer-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1.5rem;
    padding: 40px 0 30px;
}
.footer-logo{
    margin-bottom: 10px;
}
.footer-logo img{
    width: 80px;
}
.footer-box{
    display: flex;
    flex-direction: column;
}
